@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgba(#532bc1, 0.5);
  display: flex;
}
