.label {
  font-size: 1.5rem;
  margin-right: 1vh;
  margin-top: 5vh;
}

.submit-button{
  font-size: 1.5rem;
  margin-left: 1vh;
  background-color: darkgrey;
}
.action-button{
  font-size: 1.5rem;
  margin-left: 1vh;
  background-color: darkgrey;
}

.table-div{
  display: flex;
  height: 75vh;
  width: 80vw;
  margin: auto;
}
img {
  border-radius: 50%;
}

.load-button{
  display: flex;
  margin: 2vh auto;
}

Table {
  display: flex;
}

